# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output included
bin/
dist/

# Test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/

# Config
.jswitch/
config.json
.env
